@import '../../app.scss';

.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left:20px;
       
    }
}

.intro{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 45%;
    margin-left: 50px;
    border: 2px solid rgb(72, 71, 71);
    box-shadow:  0 4px 8px 0 rgba(255, 255, 255, 0.29), 0 6px 5px 0 rgba(245, 245, 245, 0.19);
    border-radius: 15px;
    padding: 20px;
    gap: 20px;

    @include mobile{
        height: 20%;
       margin-right: 90px;
        width: 90%;
       padding: 15px;
       margin-top: 12%;
    }

    h1{
        font-size: 50px;
        color: rgb(237, 165, 31);

        @include mobile{
            font-size: 25px;
        }
    }

    p{
        font-size: 18px;

        @include mobile{
            font-size: 12px;
        }


    }
    
}

.tech{
   
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 45%;
    margin-right: 50px;
    border: 2px solid rgb(72, 71, 71);
    box-shadow:  0 4px 8px 0 rgba(255, 255, 255, 0.29), 0 6px 5px 0 rgba(245, 245, 245, 0.19);
    padding: 15px;
    margin-bottom: 15px;
    gap:15px;
     
   
        @include mobile{
            height: 20%;
            margin-left: 10px;
            width: 90%;
            margin-top: 10%;
           
        }
    

    img{
       height: 80px;
       width: 80px;

       @include mobile{
        height: 40px;
        width: 40px;
       }
      
    }

    h1{
        font-size: 40px;
        color: rgb(237, 165, 31);
        @include mobile{
            font-size: 25px;
        }
    }

   p{
    font-size: 15px;
    @include mobile {
        font-size: 15px;
    }
   }
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;

    @include mobile{
        gap: 70px;
    }
   
   
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   gap: 100px;

   @include mobile{
    gap: 70px;
}
}

.row3{
    display: flex;
   flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;

    @include mobile{
        gap: 70px;
    }
   
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
   

    h6{
       color : rgb(237, 165, 31);
    }
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    color : rgb(237, 165, 31);
}

.third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    color : rgb(237, 165, 31);
}




